body, html {
    background: #f9f9f9;
    font-family: "Roboto", sans-serif;
}

.header {
    background: #ff3b4e;
    padding: 20px 0;
    text-align: center;
    color: #FFF;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
}

.main {
    margin: 40px;
    margin-bottom: 20px;
}

.suggestion-box {
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  font-size: 18px;
  margin: 0 0 8px;
  padding: 20px;
  text-decoration: none;
}

.suggestion-box:hover {
    background: #fcfcfc;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);

    text-decoration: none;
}

.form-control {
    margin: auto;
    text-align: center;
    width: 50%;
}

.main-button {
  background: #2CC990;
  border-radius: 4px;
  border: none;
  color: #fff;
  display: block;
  font-weight: bold;
  margin: auto;
  padding: 13px 0;
  text-align: center;
  width: 200px;
  font-size: 20px;
}

.main-button:hover {
  background: #26B17E;
  text-decoration: none;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 28px;
  text-decoration: none;
  color: currentColor;
  outline: 0;
}

.title:hover {
  text-decoration: none;
  color: currentColor;
  outline: 0;
  cursor: pointer;
}

.thumb {
  cursor: pointer;
}

.upvotes {
  font-size: 20px;
  font-weight: 700;
}

img {
  margin-bottom: 12px;
}
