body, html {
    background: #FFF;
    font-family: "Roboto", sans-serif;
    color: #212121;
    text-align: center;
}

/* HEADER
============================================================================= */

.box-icon {
    width: 100px;
    height: 100px;
}

.header {
    font-family: "Lato", sans-serif;
    background: #FF5959;
    padding: 20px;
    text-align: center;
    color: #FFF;
    font-size: 20px;
}

.header-1 {
    font-size: 48px;
    font-weight: bolder;
}

.loudspeaker-icon {
    width: auto;
    height: 176px;
    background-color: #FF5959;
    display: inline-block;
    position: relative;
    bottom: 68px;
    right: 25px;
}

.steps {
    display: inline-block;
    text-align: left;
    position: relative;
    right: 10px;
}

span {
    font-size: 23px;
}

.form-control {
    margin: auto;
    text-align: center;
    width: 45%;
    position: relative;
    bottom: 40px;
}

.main-button {
    background: #00458A;
    border-radius: 4px;
    border: none;
    color: #fff;
    display: block;
    font-weight: bold;
    margin: auto;
    padding: 13px 0;
    text-align: center;
    width: 200px;
    font-size: 20px;
}

.main-button:hover {
    background: #0056AC;
    text-decoration: none;
}

.main-button:focus {
    outline: 0;
}

.main-button:active {
    background: #00458A;
}

/* MAIN
============================================================================= */

.header-2 {
  font-size: 32px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.header-page2 {
  margin: 30px 0 30px 0;
  font-size: 32px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.main {
    margin: 40px;
    margin-bottom: 300px;
}

.suggestion-box {
    background: #FDFDFD;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-size: 25px;
    margin: 0px 0 20px 0;
    padding: 20px 10px 10px 10px;
    border: 1px solid #E1E1E1;
    text-decoration: none;
    transition: 1s linear all;
    -webkit-transition: 1s linear all;
}

.suggestion-box:hover {
    background: #FBFBFB;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

/* --------------------------------------------------------------------------*/

.comments-box {
    background: #F6F6F6;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-size: 22px;
    margin: 0 40px 10px;
    padding: 20px;
    border: 1px solid #E1E1E1;
    text-decoration: none;
    transition: 1s linear all;
    -webkit-transition: 1s linear all;
}

.comments-title {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: currentColor;
    outline: 0;
}

.title {
    font-weight: 300;
    text-decoration: none;
    color: currentColor;
    outline: 0;
}

.title:hover {
    text-decoration: none;
    cursor: pointer;
}

.icon-comments {
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin: 9px 0px 12px 3px;
}

.icon-thumb {
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin: 0 -2px 10px 5px;
}

.icon-thumb-page2 {
    width: 25px;
    height: 25px;
    margin: 0 -2px 10px 5px;
}

.iconStar {
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-top: 5px;
  /*  content: url("img/star.png"); */
}

.iconStarActive {
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-top: 5px;
  /*  content: url("img/star-active.png"); */
}

.icon-star-copy {
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-top: 5px;
}

.icon-down {
    width: auto;
    height: 25px;
}

.upvotes .star .dropdown{

    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: inherit;
}

.dropdown:hover {
    cursor: pointer;
}

img {
    margin-bottom: 12px;
}

/* Nav
============================================================================= */
.nav {
    float: right;
    margin-right: 40px;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
    color: #ff5959;
    outline: 0;
}

.nav a{
  text-decoration: none;
  color: currentColor;
}

.nav:hover {
  color: #E14F4F;
}

.navlink {
    background: #FF5959;
    text-align: center;
    font-size: 30px;
}



/* Home Button
============================================================================= */

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #FF5959;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    text-decoration: none;
    color: #FFFFFF;
}

.button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    text-decoration: none;
    color: #FFFFFF;
}

.button:hover span {
    padding-right: 25px;
    text-decoration: none;
    color: #FFFFFF;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
    text-decoration: none;
    color: #FFFFFF;
}

#button {
    font-size: 28px;
}

/* Transitions
============================================================================= */

.ng-enter {
    animation: 0.2s both ease-in;
}

.ng-leave {
    animation: 0.2s both ease-in;
}

.showComments.ng-hide-add, .showComments.ng-hide-remove {
    transition: all linear .4s;
}

.showComments.ng-hide {
  line-height: 31px;
  opacity: 0;
}

.comments-box.ng-enter {
  opacity: 0;
}

.comments-box.ng-enter.ng-enter-active {
  opacity: 1;
}

.comments-box.ng-leave {
  opacity: 1;
}

.comments-box.ng-leave.ng-leave-active {
  opacity: 0;
}

.suggestion-box.ng-enter {
  opacity: 0;
}

.suggestion-box.ng-enter.ng-enter-active {
  opacity: 1;
}

.suggestion-box.ng-leave {
  opacity: 1;
}

.suggestion-box.ng-leave.ng-leave-active {
  opacity: 0;
}
