body, html {
    background: #f9f9f9;
    font-family: "Roboto", sans-serif;
}

.header {
    background: #ff3b4e;
    padding: 20px 0;
    text-align: center;
    color: #FFF;
    font-size: 20px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
}

h2 {
    text-align: center;
}

.box-icon {
  width: 100px;
  height: 100px;
}

.loudspeaker-icon {
  display: inline;
  width: auto;
  height: 200px;
  background-color: #ff3b4e;
  float: left;
  padding-left: 285px;
}

.steps {
  display: inline;
  text-align: left;
}

.navlink {
    background: #ff3b4e;
    text-align: center;
    font-size: 30px;

}

/* ------------------------------------------------------------------------- */

.main {
    margin: 40px;
    margin-bottom: 20px;
}

.suggestion-box {
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-size: 18px;
    margin: 0 0 8px;
    padding: 20px;
    text-decoration: none;
}

.suggestion-box:hover {
    background: #fcfcfc;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    text-decoration: none;
}

.comments-box {
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-size: 18px;
    margin: 0 0 8px;
    padding: 20px;
    text-decoration: none;
}

.comments-box-main {
    background: #F0F0F0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-size: 18px;
    margin: 0 0 8px;
    padding: 20px;
    text-decoration: none;
}

.form-control {
    margin: auto;
    text-align: center;
    width: 50%;
}

.main-button {
    background: #2CC990;
    border-radius: 4px;
    border: none;
    color: #fff;
    display: block;
    font-weight: bold;
    margin: auto;
    padding: 13px 0;
    text-align: center;
    width: 200px;
    font-size: 20px;
}

.main-button:hover {
    background: #26B17E;
    text-decoration: none;
}

.main-button:active {
    outline: 0;
    text-decoration: none;
    border: none;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 28px;
    text-decoration: none;
    color: currentColor;
    outline: 0;
}

.title:hover {
    text-decoration: none;
    color: currentColor;
    outline: 0;
    cursor: pointer;
}

.comments-title {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 28px;
    text-decoration: none;
    color: currentColor;
    outline: 0;
}

.icon {
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.icon-star {
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.upvotes, .star {
    font-size: 20px;
    font-weight: 700;
}

.dropdown {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

.dropdown:hover {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
    margin-bottom: 12px;
}

/* -HOME BUTTON --------------------------------------------------------------*/

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #ff3b4e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    text-decoration: none;
    color: #FFFFFF;
}

.button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    text-decoration: none;
    color: #FFFFFF;
}

.button:hover span {
    padding-right: 25px;
    text-decoration: none;
    color: #FFFFFF;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
    text-decoration: none;
    color: #FFFFFF;
}
