<form ng-submit="addSuggestion()">
    <h3> Submit Your Suggestion </h3>
    <div class="form-group" style="margin-top: 50px">
      <!-- ng-model="title" means whatever the user inputs is labelled "title" -->
      <input type="text" class="form-control" placeholder="Great ideas here" ng-model="title"/>
    </div>
    <button type="submit" class="btn btn-primary">Suggest</button>
</form>

<br>

<div ng-repeat="b in a | orderBy : 'upvotes' : true ">
  <div> {{ b.title }} </div>
  <p>
      <span class="glyphicon glyphicon-plus-sign" ng-click="upVote(b)"></span>
      Upvotes: {{b.upvotes}}
  </p>
  <button type="submit" ng-click="DeleteSuggestion($index)">Delete</button>
  <button type="submit" ng-click="EditSuggestion($index)">Edit</button>
  <a href="#/comments/{{$index}}">Comments</a>
  <br>
</div>
