<!-- HOME VIEW -->

<!-- Header ------------------------------------------------------------------>
<div class="header">
  <img src="img/loudspeaker.png" class="loudspeaker-icon">
    <div class="steps">
      <h3> Do you have a suggestion or an idea? </h3> <br>
      <p> 1. Submit your idea in the text field below  </p>
      <p> 2. Vote for those ideas you like the most below </p>
      <p> 3. Leave a comment about other great ideas! </p>
    </div>
</div>

<form class="header" ng-submit="addSuggestion()">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Type Idea Here" ng-model="title"/>
    </div>
    <button type="submit" class="main-button">Suggest</button>
</form>

<!-- Main -------------------------------------------------------------------->
<br>
<div class="main">
<h3>Suggestions by Top Voted:</h3> <br>
  <div class="suggestion-box" href="#/comments/{{$index}}" ng-repeat="b in a | orderBy : 'upvotes' : true ">
      <a href="#/comments/{{$index}}" class="title"> {{ b.title }} </a>
        <p>
            <!--Star-->
            <img class="icon-star" src="img/star.png" ng-click="star(b)">
            <span class="star"> Star </span> &nbsp

            <!--Thumb-->
            <img src="img/thumb.png" class="icon" ng-click="upVote(b)"
            onmouseover="this.src='img/thumb-active.png'"
            onmouseout="this.src='img/thumb.png'">
            <span class="upvotes"> {{b.upvotes}} </span> &nbsp

            <!-- Comment -->
            <img src="img/comment.png" class="icon" ng-click="showComments = !showComments"
            onmouseover="this.src='img/comment-active.png'"
            onmouseout="this.src='img/comment.png'">
            <a class="dropdown" ng-click="showComments = !showComments"> Comments </a> &nbsp
        </p>

        <!-- Dropdown Comments -->
        <div ng-show="showComments">
          <div class="comments-box-main" ng-repeat="y in b.comments">
            <div class="comments-title"> {{ y.body }} </div>
          </div>



          <form ng-submit="addComment()" style="margin-top: 50px">
              <h3> Submit Comment </h3>
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Comments Here" ng-model="titleC"></input>
              </div>
              <button type="submit" class="main-button">Comment</button>
          </form>
        </div>

  </div>
</div>
