<!-- STARRED VIEW -->

<!-- Nav --------------------------------------------------------------------->
<div class="navlink">
    <a href="#/" class="button" ng-click="updateStar()"><span id="button">Home</span></a>
</div>

<!-- Main -------------------------------------------------------------------->

<div class="main">

  <div class="header-page2">Starred Suggestions:</div> <br>

  <div class="suggestion-box" ng-repeat="b in a | filter : {star: true}">
      <div class="title" ng-click="showComments = !showComments"> {{ b.title }} </div>
      <img src="img/thumb.png" class="icon-thumb-page2" onmouseout="this.src='img/thumb.png'">
      <span class="upvotes"> +{{b.upvotes}} </span> &nbsp

      <!-- Dropdown Comments & Form-->
      <div ng-show="showComments" class="showComments">
          <div class="comments-box" ng-repeat="y in b.comments">
            <div class="comments-title"> {{ y.body }} </div>
          </div>
      </div>

  </div>
</div>
